<div>
    
    <table border="1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>codigo</th>
                        <th>Nombre</th>
                        <th>Objetivo</th>
                        <th>Tareas</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for perfil in perfiles %}
                        <tr>
                            <td>{{ perfil.id }}</td>
                            <td>{{ perfil.codigo }}</td>
                            <td>{{ perfil.nombre }}</td>
                            <td>{{ perfil.objetivo }}</td>
                            <td>{{ perfil.tareas }}</td>
                            <td>                                
                                <a class="" title="Edita este perfil" href={{ path("perfil_update", {id: perfil.id})}}>Editar</span></a>
                                <a class="" title="Edita este perfil" href={{ path("perfil_edit", {id: perfil.id})}}>Editar</span></a>
                                <a class="" title="Elimina este perfil" href="#">Borrar</span></a>                            
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
                <a class="" title="Elimina este perfil" href={{ path("perfil_add")}}>Agregar</span></a>   
    </div>
